{% extends "halls/base.html" %}
{% block content %}
<div class="container">
  <h2>Search for a video</h2>
  {{ search_form }}
</div>
<div class="container">
  <h2>Add Video</h2>
  <form method="post">
    {% csrf_token %}
    {% load widget_tweaks %}

    {% for field in form %}
    <div class="form-group {% if field.errors %} aleart aleart-danger {% endif %}">
      {{ field.error }}
      {{ field.label_tag }}
      {% render_field field class="form-control" %}
    </div>
    {% endfor %}
    <input type="submit" class="btn btn-primary" value="Create"/>
  </form>
</div>
{% endblock %}